
$default-size:               16px;
$default-linehieght:         24px;
$border-radius:              6px;
$box-shadow-level-2:         0px 1px 1px rgba(0, 0, 0, 0.08), 0px 2px 4px rgba(0, 0, 0, 0.12), inset 0px 1px 0px rgba(231, 231, 231, 0.5);
$font-regular:               400;
$font-semibold:              'Montserrat SemiBold';
$font-bold:                  900;
$xxl-padding:                80px;
$xxl-padding-responsive:                30px;
$robo-font:           'Roboto';




